.app {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* padding-right: 100px; */
  /* padding-left: 100px; */
  background-color: #f3f2ef;
}

.app__body {
  background-color: #f3f2ef;
  display: flex;
  justify-content: space-evenly;
  margin-right: 100px;
  margin-left: 100px;
}
